.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.input {
  padding: 0.8rem;
  border: 1px solid #ccc;
  border-radius: 20px;
  font-size: 1rem;
}

.button {
  padding: 0.8rem;
  background-color: #e83e8c;
  color: white;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-size: 1rem;
  font-weight: bold;
}
